body{
    padding: 30px;
    background-color: #e0e0e0;
}
.box1 {
    height: 300px;
    width: 300px;
    border-radius: 30px;
    background-color: #c1c1c1;
    box-shadow: 20px 20px 60px #00000041, 
    -20px -20px 60px #ffffff71;
}