* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 200px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #0356fc;
    left: 0;
    bottom: -10px;
    position: absolute;
    transition: 0.5s;
}
.navbar ul li:hover:after {
    width: 100%;
}
.banner {
    width: 100%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannerLeft {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}