*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
nav{
    height: 80px;
    background-color: rgb(13, 17, 74);
    color: #ffffff;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{
    position: relative;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
}
nav h1{
    position: absolute;
    top: 25px;
    left: 5%;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
label #btn,
label #cancel{
    color: #000;
}
