.grid-container{
    width: 400px;
    height: 300px;
    background-color: aqua;
    display: grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px 50px;
    grid-template-columns: auto auto auto;  */
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 10px;
    column-gap: 10px; */
    grid-gap: 10px 10px;
    justify-items: center;
    /* align-items: center; */
    place-items: center;
}
.item{
    height: 50px;
    width: 100px;
    background-color: blue;
    border: #000 solid 1px;
    text-align: center;
}
.one{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column; */
    grid-row: 1/3;
    place-self: start;
}
.two{
    /* grid-row-start: 1;
    grid-row-end: 5; */
    grid-row: 1/4;
}  