body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0px;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    /* border: 2px solid #000; */
    border-radius: 10px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.todo-input {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}