/* *{
    padding: 0;
    margin: 0;
} */

/* .container{
    display: inline-block;
    margin: 20px;
} */

div{
    display: inline-block;
    margin: 10px;
}
body{
    height: 1200px;
}

#box1{
    background-color: aqua;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#box2{
    background-color: red;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    position: relative;
    top: 10px;
}
#box3{
    background-color: blue;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    position: sticky;
    top: 0px;
}
#box4{
    background-color: green;
    border: 2px solid black;
    height: 100px;
    width: 100px;
}