/* #myId {
    background-color: blue;
}

.heading {
    color: rgb(255, 0, 0);
}

button {
    color: green;
}

h1 {
    text-align: center;
    text-decoration: blue wavy underline;
}

a {
    text-decoration: none;
} */

/* #parah1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 40px;
    text-transform: none;
} */

/* * {
    font-family: 'Times New Roman';
}

h1 {
    text-align: center;
    text-transform: capitalize;
    text-decoration: blue wavy underline;
    color: red;
}

#outer {
    font-size: 25px;
}

#inner {
    font-size: 10px;
} */

/* div {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    font-family: 'Segoe UI';
    margin: 25px;
    padding: 25px;
} */