*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    height: 80px;
    margin: auto;
    background-image: linear-gradient(#033747, #012733);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    font-size: 40px;
    color: white;
    margin: 25px 25px;
    padding: 20px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    position: relative;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar button{
    width: 100px;
    margin: 20px 10px;
    text-align: center;
    padding: 10px 0;
    border-radius: 25px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}

/* for content */
.box1{
    height: 200px;
    width: 200px;
    font-size: 20px;
    background-color: rgba(255, 0,0,0.5);
}
.box2{
    height: 200px;
    width: 200px; 
    background-color: rgba(0, 255,0,0.5);
}
.innerBox{
    height: 50%;
    width: 40%;
    font-size: 1em;
}
.box3{
    height: 200px;
    width: 200px;
    background-color: rgba(0, 0,255,0.5);

}
.content div{
    display: inline-block;
    border: 2px solid black;
}
.content{
    height: 670px;
}

footer{
    background-image: linear-gradient(#033747, #012733);
    text-align: center;
    color: white;
}

#search-btn{
    background-color: #033747;
    color: white;
    width: 100px;
    height: 50PX;
    text-align: center;
    border-radius: 25px;
    /* background-image: linear-gradient(#033747, #012733);; */
    font-weight: bold;
    cursor: pointer;
    
}
#search-btn:hover{
    background-color: white;
    transition: 0.3s;
    color: black;
}

input{
    width: 400px;
    height: 50px;
    border: 2px solid #949494;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
}
