*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

body{
    height: 1200px;
}

.box1{
    height: 200px;
    width: 200px;
    background-image: url("background.jpg");
    background-size: cover;
    position: fixed;
    right: 0;
    bottom: 0;
}