*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar{
    height: 80px;
    background-color:rgba(100, 148, 237, 0.364);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-weight: bold;
    cursor: pointer;
    /* margin: 10px; */
}

.navbar-list ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.navbar-list ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(79, 139, 251);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}

button{
    background-color: transparent;
    border-radius: 25px;
    text-align: center;
    height: 35px;
    width: 100px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

span{
    background: rgb(79, 139, 251);
    width: 0;
    height: 100%;
    position: absolute;
    border-radius: 25px;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}
button:hover{
    color: white;
    transition: 0.5s;
    border: none;
}