*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}
.box1{
    background-color: rgba(0, 0, 255, 0.25);
    /* background-color: blue; */
    /* visibility: hidden; */
}
.box2{
    background-color: rgba(255, 0, 0, 0.5);
    /* background-color: green; */
    /* visibility: hidden; */
}
.box3{
    background-color: red;
}