body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
}

.main-container{
    height: 400px;
    width: 400px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    border-radius: 25px;
    box-shadow: 20px 20px 60px #00000041, 
    -20px -20px 60px #ffffff71;
}

#phone-number{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid #555;
    text-align: center;
}
input[type="number"]:focus{
    border-color: #555;
    box-shadow: 0 0 8px black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    outline: none;
}

#updates{
    cursor: pointer;
}

.container button{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}