*{
    padding: 0;
    margin: 0;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 200px;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
button{
    background-color: #f08804;
    color: white;
}

.loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid #cbcbcb;
    border-top-color: #333;
    margin-top: 100px;
    margin-left: 50px;
    animation: rotate 1s infinite;
}
@keyframes rotate{
    100%{
        rotate: 360deg;
    }
}